<div class="display-component-container" id="model-li-hide-2"s>
    <div class="block-quote">
    <div class='btn-group'>
        <button id="btn_delete" type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteModal">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
        </button>
  </div>
</div>
  <table class="table table-bordered"></table>
  <script type="application/javascript">
      $(function() {
          //ss$('.display-component-container').children("h1").append('<i class="fa fa-circle-o-notch fa-spin"></i>')
      })
  </script>
</div>